## Análisis de datos de felicidad en países del mundo


Utilizando los datos sobre la felicidad publicados en español analizaremos:
Medida de tendencia central y dispersión de la felicidad a nivel mundial para el primer y último año incluido en el set de datos. 
Comparación de valores a nivel mundial con dos países en el primer año reportado y el último año reportado.
Se desea conocer cómo se comparan los países elegidos con el resto del mundo. Básicamente si son más o menos felices.

In [1]:
#Cargamos los datos e importamos pandas
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-08-07/felicidad.csv')

In [2]:
#visualizamos las variables
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   pais                         1704 non-null   object
 1   anio                         1704 non-null   int64
 2   escalera_vida                1704 non-null   float64
 3   log_pib                      1676 non-null   float64
 4   soporte_social               1691 non-null   float64
 5   expectativa_vida             1676 non-null   float64
 6   libertad                     1675 non-null   float64
 7   generosidad                  1622 non-null   float64
 8   percepcion_corrupcion        1608 non-null   float64
 9   afecto_positivo              1685 non-null   float64
 10  afecto_negativo              1691 non-null   float64
 11  confianza                    1530 non-null   float64
 12  calidad_democracia           1558 non-null   float64
 13  calidad_entrega              1559 non-null   float64
 14  de_escalera_pais_anio        1704 non-null   float64
 15  gini_banco_mundial           643 non-null    float64
 16  gini_banco_mundial_promedio  1502 non-null   float64
dtypes: float64(15), int64(1), object(1)
memory usage: 226.4+ KB

Puntaje de felicidad, también conocido como Escalera de Vida. Indica percepción de calidad de vida en una escala de 0 a 10. Mientras más alto el puntaje, mayor felicidad. Por lo que nos enfocaremos en esta variable a analizar

In [3]:
#Observamos los primeros 10 datos de nuesto dt
df.head(10)

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
0,Afghanistán,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,NaN,NaN
1,Afghanistán,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,NaN,NaN
2,Afghanistán,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,NaN,NaN
3,Afghanistán,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,NaN,NaN
4,Afghanistán,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,NaN,NaN
5,Afghanistán,2013,3.572100,7.522238,0.483552,52.560001,0.577955,0.070403,0.823204,0.620585,0.273328,0.482847,-1.879709,-1.403036,1.223690,NaN,NaN
6,Afghanistán,2014,3.130896,7.516955,0.525568,52.880001,0.508514,0.113184,0.871242,0.531691,0.374861,0.409048,-1.773257,-1.312503,1.395396,NaN,NaN
7,Afghanistán,2015,3.982855,7.500539,0.528597,53.200001,0.388928,0.089091,0.880638,0.553553,0.339276,0.260557,-1.844364,-1.291594,2.160618,NaN,NaN
8,Afghanistán,2016,4.220169,7.497038,0.559072,53.000000,0.522566,0.051365,0.793246,0.564953,0.348332,0.324990,-1.855426,-1.392713,1.796219,NaN,NaN
9,Afghanistán,2017,2.661718,7.497755,0.490880,52.799999,0.427011,-0.112198,0.954393,0.496349,0.371326,0.261179,-1.886566,-1.437808,1.454051,NaN,NaN

In [4]:
df.pais.unique()

array(['Afghanistán', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Bielorrusia', 'Bélgica', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia y Herzegovina', 'Botswana', 'Brasil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Camerún',
       'Canadá', 'República Central Africana', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', 'Croacia', 'Cuba', 'Chipre', 'República Checa',
       'Dinamarca', 'Djibouti', 'República Dominicana', 'Ecuador',
       'Egipto', 'El Salvador', 'Estonia', 'Etiopía', 'Finlandia',
       'Francia', 'Gabón', 'Gambia', 'Georgia', 'Alemania', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guyana', 'Haití', 'Honduras',
       'Hong Kong S.A.R. of China', 'Hungría', 'Islandia', 'India',
       'Indonesia', 'Iran', 'Irak', 'Irlanda', 'Israel', 'Italia',
       'Costa de Marfil', 'Jamaica', 'Japón', 'Jordania', 'Kazakhstan',
       'Kenia', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Líbano', 'Lesotho', 'Liberia', 'Libya', 'Lituania', 'Luxemburgo',
       'Macedonia', 'Madagascar', 'Malawi', 'Malasia', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'México', 'Moldova', 'Mongolia',
       'Montenegro', 'Marruecos', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Países Bajos', 'Nueva Zelanda', 'Nicaragua', 'Nigeria',
       'North Cyprus', 'Noruega', 'Oman', 'Pakistan',
       'Palestinian Territories', 'Panamá', 'Paraguay', 'Perú',
       'Filipinas', 'Polonia', 'Portugal', 'Qatar', 'Rumania', 'Rusia',
       'Ruanda', 'Arabia Saudita', 'Senegal', 'Serbia', 'Sierra Leona',
       'Singapur', 'Eslovaquia', 'Eslovenia', 'Somalía',
       'Somaliland region', 'Sudáfrica', 'Corea del Sur', 'South Sudan',
       'España', 'Sri Lanka', 'Sudan', 'Surinam', 'Swaziland', 'Suecia',
       'Suiza', 'Syria', 'Taiwán', 'Tajikistan', 'Tanzania', 'Tailandia',
       'Togo', 'Trinidad y Tobago', 'Túnez', 'Turquía', 'Turkmenistan',
       'Uganda', 'Ucrania', 'Emiratos Árabes Unidos', 'Reino Unido',
       'Estados Unidos', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabue'], dtype=object)

Observamos todos los países que incluye nuestro dt, así como los años de referencia

In [5]:
df.anio.describe()

count    1704.000000
mean     2012.332160
std         3.688072
min      2005.000000
25%      2009.000000
50%      2012.000000
75%      2015.000000
max      2018.000000
Name: anio, dtype: float64

Queremos analizar el primer y último año por lo tanto filtraremos los años 2005 que es el mínimo y 2018 que es el máximo.

In [6]:
anio2005=df[df.anio==2005]
anio2005

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
59,Australia,2005,7.340688,10.569470,0.967892,71.400002,0.934973,NaN,0.390416,0.842648,0.238012,0.532063,1.200284,1.757166,1.527053,NaN,0.342750
130,Bélgica,2005,7.262290,10.591697,0.934875,69.900002,0.923843,NaN,0.597554,0.796279,0.260380,0.551705,1.108286,1.409674,1.499964,0.293,0.284308
192,Brasil,2005,6.636771,9.417240,0.882923,63.299999,0.882186,NaN,0.744994,0.818337,0.301780,0.340625,0.096596,-0.156601,2.436181,0.563,0.547286
258,Canadá,2005,7.418048,10.608347,0.961552,71.300003,0.957306,0.244575,0.502681,0.838544,0.233278,0.442818,1.168249,1.748819,1.636804,NaN,0.336800
386,República Checa,2005,6.439257,10.157401,0.918759,67.000000,0.865235,NaN,0.900733,0.722875,0.257949,0.282911,0.920872,0.847745,2.057324,0.269,0.264167
397,Dinamarca,2005,8.018934,10.704770,0.972372,69.599998,0.971135,NaN,0.236522,0.859549,0.153672,0.668683,1.407144,2.001794,1.340592,0.252,0.267000
440,Egipto,2005,5.167754,8.987387,0.847842,59.700001,0.817362,NaN,NaN,0.734863,0.345555,NaN,-0.797481,-0.371983,2.664110,NaN,0.312000
496,Francia,2005,7.093393,10.505228,0.940338,71.300003,0.894819,NaN,0.687851,0.768988,0.225094,0.324884,0.939179,1.425790,1.614325,0.298,0.320923
532,Alemania,2005,6.619550,10.537519,0.963490,70.199997,0.846624,NaN,0.781007,0.775692,0.197262,0.321759,1.188014,1.642694,1.798156,NaN,0.306222
557,Greece,2005,6.006310,10.294153,0.836539,70.500000,0.734172,NaN,0.860563,0.691998,0.263643,0.487543,0.802277,0.707220,2.454654,0.346,0.346385
624,Hungría,2005,5.193933,10.019172,0.929628,64.599998,0.696874,NaN,0.902811,0.675444,0.290327,0.360526,1.089105,0.839862,2.069027,0.347,0.297917
667,Iran,2005,5.308190,9.656068,0.765978,62.000000,0.651168,NaN,0.636490,0.608226,0.456109,0.554805,-1.033463,-0.782553,1.998100,0.436,0.413400
713,Italia,2005,6.853784,10.534875,0.928001,71.900002,0.802195,NaN,0.943912,0.678837,0.294698,0.238738,0.773581,0.622240,1.884019,0.338,0.344000
738,Japón,2005,6.515817,10.481733,0.927712,73.199997,0.867779,NaN,0.698930,0.738980,0.153151,0.350331,1.021167,1.251155,1.788299,NaN,0.321000
751,Jordania,2005,6.294660,9.082460,0.920013,63.500000,NaN,NaN,0.669727,0.695953,0.239560,0.800150,-0.324023,0.176887,2.011203,NaN,0.343000
844,Líbano,2005,5.491245,9.414857,0.796278,64.599998,0.703206,NaN,0.945177,0.584244,0.292150,NaN,-0.641525,-0.303633,2.267514,NaN,0.318000
978,México,2005,6.580658,9.667230,0.902808,66.199997,0.813745,NaN,0.764249,0.819803,0.218943,0.426359,-0.124936,-0.088847,2.235451,0.489,0.469800
1065,Países Bajos,2005,7.463979,10.680684,0.947358,70.400002,0.901008,NaN,0.571342,0.869353,0.232795,0.429007,1.327471,1.833189,1.242223,0.290,0.286333
1141,Pakistan,2005,5.224658,8.297400,0.590946,54.200001,0.629996,NaN,0.844436,NaN,0.237266,0.583483,-1.365001,-0.759194,2.434377,0.327,0.315125
1218,Polonia,2005,5.587209,9.752288,0.921528,66.300003,0.782473,NaN,0.982931,0.715111,0.282439,0.068769,0.652997,0.513506,2.147830,NaN,NaN
1245,Rumania,2005,5.048648,9.587583,0.837685,64.000000,0.800121,NaN,0.956885,0.642016,0.345687,0.272887,0.246735,-0.113104,2.281933,NaN,0.365800
1281,Arabia Saudita,2005,7.079644,10.726314,0.867819,63.500000,NaN,NaN,0.505149,0.729598,0.242553,NaN,-0.889996,-0.093201,1.816105,NaN,NaN
1399,España,2005,7.152786,10.401288,0.961043,71.500000,0.916165,NaN,0.777272,0.775784,0.240643,0.527846,0.663309,1.319199,1.724895,0.324,0.345385
1432,Suecia,2005,7.376316,10.626856,0.951470,71.199997,0.964395,NaN,NaN,0.839870,0.150766,0.440849,1.442750,1.814790,1.618058,0.268,0.274154
1532,Turquía,2005,4.718734,9.699514,0.819936,62.599998,0.623115,NaN,0.876999,0.556581,NaN,0.595774,-0.300653,0.140000,2.342795,0.426,0.405800
1591,Reino Unido,2005,6.983557,10.522983,0.978840,69.900002,0.922355,NaN,0.398457,0.864076,0.261732,0.494750,0.785349,1.712860,1.635586,0.343,0.341083
1642,Venezuela,2005,7.169621,9.612341,0.955278,65.400002,0.838198,NaN,0.719800,0.819065,0.233014,0.491368,-0.941461,-1.077924,2.532964,0.524,0.497167

In [7]:
#Encontramos el promedio
anio2005.escalera_vida.mean()

6.446164272449635

In [8]:
#Encontramos la varianza
anio2005.escalera_vida.std()

0.9191426322726484

Ahora encontraremos los mismos datos para el valor máximo 2018

In [9]:
anio2018=df[df.anio==2018]
anio2018

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
10,Afghanistán,2018,2.694303,7.494588,0.507516,52.599998,0.373536,-0.084888,0.927606,0.424125,0.404904,0.364666,NaN,NaN,1.408344,NaN,NaN
21,Albania,2018,5.004403,9.412399,0.683592,68.699997,0.824212,0.005385,0.899129,0.713300,0.318997,0.435338,NaN,NaN,2.640531,NaN,0.303250
28,Algeria,2018,5.043086,9.557952,0.798651,65.900002,0.583381,-0.172413,0.758704,0.591043,0.292946,NaN,NaN,NaN,1.973943,NaN,0.276000
45,Argentina,2018,5.792797,9.809972,0.899912,68.800003,0.845895,-0.206937,0.855255,0.820310,0.320502,0.261352,NaN,NaN,2.472559,NaN,0.460938
58,Armenia,2018,5.062449,9.119424,0.814449,66.900002,0.807644,-0.149109,0.676826,0.581488,0.454840,0.670828,NaN,NaN,2.102111,NaN,0.319250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1654,Venezuela,2018,5.005663,9.270281,0.886882,66.500000,0.610855,-0.176156,0.827560,0.759221,0.373658,0.260700,NaN,NaN,2.891930,NaN,0.497167
1667,Vietnam,2018,5.295547,8.783416,0.831945,67.900002,0.909260,-0.039124,0.808423,0.692222,0.191061,NaN,NaN,NaN,1.676448,NaN,0.362750
1678,Yemen,2018,3.057514,NaN,0.789422,56.700001,0.552726,NaN,0.792587,0.461114,0.314870,0.308151,NaN,NaN,2.402008,NaN,0.357000
1690,Zambia,2018,4.041488,8.223958,0.717720,55.299999,0.790626,0.036644,0.810731,0.702698,0.350963,0.606715,NaN,NaN,2.783419,NaN,0.527400
1703,Zimbabue,2018,3.616480,7.553395,0.775388,55.599998,0.762675,-0.038384,0.844209,0.710119,0.211726,0.550508,NaN,NaN,2.498696,NaN,0.432000

In [10]:
#Encontramos el promedio
anio2018.escalera_vida.mean()

5.502134340650895

In [11]:
#Encontramos la varianza
anio2018.escalera_vida.std()

1.1034612436939357

Elegiremos dos países para comparar con el promedio general de felicidad del mundo y los analizaremos en los años 2005 y 2018

In [12]:
#Vemos cual es el valor máx que alcanza la felicidad
df.escalera_vida.max()

8.01893424987793

In [13]:
#Escogemos Dinamarca y filtramos para el 2005 primero
anio2005[anio2005.pais=='Dinamarca']

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
397,Dinamarca,2005,8.018934,10.70477,0.972372,69.599998,0.971135,NaN,0.236522,0.859549,0.153672,0.668683,1.407144,2.001794,1.340592,0.252,0.267

In [14]:
#Filtramos para el 2018
anio2018[anio2018.pais=='Dinamarca']

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
409,Dinamarca,2018,7.648786,10.755594,0.958219,72.400002,0.935438,0.015593,0.150607,0.821423,0.206053,0.632478,NaN,NaN,1.65106,NaN,0.267

Las descripciones a continuación nos ayudarán a realizar conjeturas sobre los países elegidos y las posibles variables que incidan con ellos respecto a la felicidad en los años 2005 y 2018

In [15]:
anio2005.escalera_vida.describe()

count    27.000000
mean      6.446164
std       0.919143
min       4.718734
25%       5.539227
50%       6.619550
75%       7.161203
max       8.018934
Name: escalera_vida, dtype: float64

In [16]:
anio2018.escalera_vida.describe()

count    136.000000
mean       5.502134
std        1.103461
min        2.694303
25%        4.721326
50%        5.468088
75%        6.277691
max        7.858107
Name: escalera_vida, dtype: float64

In [17]:
anio2005.percepcion_corrupcion.describe()

count    25.000000
mean      0.715875
std       0.198793
min       0.236522
25%       0.597554
50%       0.744994
75%       0.876999
max       0.982931
Name: percepcion_corrupcion, dtype: float64

In [18]:
anio2018.percepcion_corrupcion.describe()

count    129.000000
mean       0.731744
std        0.186574
min        0.096563
25%        0.691070
50%        0.793091
75%        0.851382
max        0.952014
Name: percepcion_corrupcion, dtype: float64

In [19]:
anio2005.expectativa_vida.describe()

count    27.000000
mean     67.007407
std       4.549719
min      54.200001
25%      63.750000
50%      67.000000
75%      70.849998
max      73.199997
Name: expectativa_vida, dtype: float64

In [20]:
anio2018.expectativa_vida.describe()

count    132.000000
mean      64.670832
std        6.728247
min       48.200001
25%       59.074999
50%       66.350002
75%       69.075001
max       76.800003
Name: expectativa_vida, dtype: float64

In [21]:
#promedio del mundo en felicidad en todos los años
df.escalera_vida.describe()

count    1704.000000
mean        5.437155
std         1.121149
min         2.661718
25%         4.610970
50%         5.339557
75%         6.273522
max         8.018934
Name: escalera_vida, dtype: float64

Elegimos Dinamarca como primer país, podemos observar que en el 2005 el promedio de felicidad está por encima de la media no solo la media anual del 2005 sino del promedio total también. Sin embargo ha tenido una pequeña baja en el 2018, aunque sigue por sobre el promedio. Hemos considerado que quizá se deba a su expectativa de vida y baja corrupción por lo que se ha analizado estos datos. Dinamarca cuenta con una expectativa de vida de 69 años en el 2005 y 72 años en el 2018 . La varianza es mínima y en comparación con el resto del mundo es una expectativa de vida muy alta y una baja taza de percepción de corrupción. Y aunque la felicidad ha bajado apenas un punto, vemos que ha aumentado su expectativa de vida y bajado la percepción de corrupción por lo que creemos que estas variables si guardan relación.

In [22]:
#El siguiente país elegido es Japón
anio2005[anio2005.pais=='Japón']

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
738,Japón,2005,6.515817,10.481733,0.927712,73.199997,0.867779,NaN,0.69893,0.73898,0.153151,0.350331,1.021167,1.251155,1.788299,NaN,0.321

In [23]:
anio2018[anio2018.pais=='Japón']

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
750,Japón,2018,5.793575,10.581618,0.886432,75.0,0.773472,-0.272972,0.686785,0.703355,0.1853,0.38488,NaN,NaN,1.916026,NaN,0.321

Elegimos Japón como segundo país, podemos observar que en el 2005 el promedio de felicidad está por encima de la media aunque no sea tan alto ni se haya mantenido sigue por encima del promedio en el 2005. Para el 2018 está apenas en el promedio, sin embargo no se observó variabilidad en la percepción de corrupción, pero sí un aumento de la expectativa de vida que está casi 11 años por encima del promedio en 2018.

Si tomamos en consideración que países han diso más felices tomando en cuenta las variables, expectativa de vida, escalera de vida y percepcion de corrupción de todos los países desde el 2005 hasta el 2018.

In [24]:
prueba=df.pivot_table(index='pais', values=['escalera_vida', 'expectativa_vida','percepcion_corrupcion'], aggfunc=['mean'])
prueba

                     mean
            escalera_vida expectativa_vida percepcion_corrupcion
pais
Afghanistán      3.705495        52.254545              0.835959
Albania          4.990211        67.254545              0.863277
Alemania         6.792368        71.104616              0.605641
Algeria          5.481872        65.174286              0.680923
Angola           4.420299        53.550000              0.867018
...                   ...              ...                   ...
Venezuela        6.203183        65.829231              0.790572
Vietnam          5.293443        66.838462              0.784404
Yemen            3.886234        54.627273              0.828157
Zambia           4.631722        50.983333              0.830136
Zimbabue         4.029770        49.269231              0.849477

[164 rows x 3 columns]

Hemos creado una tabla con los promedios por país de las variables de interés. Ahora veremos el top 10 de países con los max de cada variable.

In [25]:
prueba.sort_values(by=[('mean','escalera_vida')], ascending=False).head(10)

                       mean
              escalera_vida expectativa_vida percepcion_corrupcion
pais
Dinamarca          7.692072        70.910769              0.201390
Finlandia          7.554010        71.021819              0.261558
Noruega            7.549186        72.499999              0.362399
Suiza              7.534953        73.030000              0.310654
Países Bajos       7.466531        71.583333              0.430646
Canadá             7.423908        72.509230              0.415057
Islandia           7.410776        72.820000              0.710673
Suecia             7.371575        72.012309              0.268811
Nueva Zelanda      7.323475        72.250000              0.267453
Australia          7.298081        72.466667              0.407884

In [26]:
prueba.sort_values(by=[('mean','expectativa_vida')], ascending=False).head(10)

                                   mean
                          escalera_vida expectativa_vida percepcion_corrupcion
pais
Singapur                       6.514759        75.213333              0.100310
Hong Kong S.A.R. of China      5.440562        75.126760              0.336009
Japón                          6.016771        74.160000              0.709734
España                         6.514385        73.078461              0.811423
Suiza                          7.534953        73.030000              0.310654
Italia                         6.257383        72.832308              0.915171
Islandia                       7.410776        72.820000              0.710673
Chipre                         6.087859        72.781819              0.844019
Francia                        6.664774        72.587692              0.643763
Canadá                         7.423908        72.509230              0.415057

In [27]:
prueba.sort_values(by=[('mean','percepcion_corrupcion')]).head(10)

                                   mean
                          escalera_vida expectativa_vida percepcion_corrupcion
pais
Singapur                       6.514759        75.213333              0.100310
Qatar                          6.568982        67.187999              0.183798
Ruanda                         3.689593        57.212727              0.187590
Dinamarca                      7.692072        70.910769              0.201390
Finlandia                      7.554010        71.021819              0.261558
Nueva Zelanda                  7.323475        72.250000              0.267453
Suecia                         7.371575        72.012309              0.268811
Emiratos Árabes Unidos         6.839775        66.509091              0.299117
Suiza                          7.534953        73.030000              0.310654
Hong Kong S.A.R. of China      5.440562        75.126760              0.336009

In [28]:
prueba.sort_values(by=[('mean','escalera_vida'),('mean','expectativa_vida')], ascending=False).head(10)

                       mean
              escalera_vida expectativa_vida percepcion_corrupcion
pais
Dinamarca          7.692072        70.910769              0.201390
Finlandia          7.554010        71.021819              0.261558
Noruega            7.549186        72.499999              0.362399
Suiza              7.534953        73.030000              0.310654
Países Bajos       7.466531        71.583333              0.430646
Canadá             7.423908        72.509230              0.415057
Islandia           7.410776        72.820000              0.710673
Suecia             7.371575        72.012309              0.268811
Nueva Zelanda      7.323475        72.250000              0.267453
Australia          7.298081        72.466667              0.407884

## Conclusiones

Podemos destacar bajo los análisis realizados que Dinamarca tiene en promedio mayor puntos por felicidad junto a varios países europeos como Finlandia, Noruega y Suiza. En expectativa de vida y baja corrupción en cambio tenemos a Singapur que se encuentra en promedio general con la media de felicidad total. Si tenemos que tomar en cuenta estas tres variables, tendriamos que Dinamarca es de hecho el país más feliz, sin embargo cabe destacar que en este análisis sólo se ha tomado en consideración las variables mencionadas y que esto podría variar si se consideran otras variables u otros datos.